body{
	background-color:#ECECEC;
	height:100%;
	width:100%;
	font-size:12px;
	text-transform:uppercase;
}
.app{
	background:url(../img/android_icon.png) no-repeat center top;
	position:absolute;
	left:50%;
	top:50%;
	height:250px;
	width:250px;
	text-align:center;
	padding:237px 0px 0px 0px;
}
h1{
	fontsize:25px;
	text-align:center;
	font-weight:normal;
}
.event{
	border-radius:4px;
	color:#FFFFFF;
	font-size:13px;
}
.event.listening{
	background-color:#24B635;
	display:block;
}
.event.received{
	background-color:#2E2ED6;
	display:none;
}
.blink{
	animation:fade 3000ms infinite;
	-webkit-animation:fade 3000ms infinite;
}